*{
  padding: 0;
  margin: 0;
}
.image1{
  height: 98.5vh;
  width: 98.5vw;
  box-sizing: border-box;
  z-index: -1;
}
.body{
  background-image: url(./images/body.png);
  height: 100vh;
  width: 100vw;
  background-size:cover;
  background-position:bottom;

}
